<div class="flex flex-col">
  <h1 class="bg-black text-white px-2">LOOK</h1>
  <div class="px-2 text-xs italic">Choose one for each, or write your own:</div>
  <div class="flex flex-col lg:flex-row lg:items-center">
    <label for="body" class="font-bold">BODY</label>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="body" id="body-built" value="built" />
      <label for="body-built">Built</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="body" id="body-lithe" value="lithe" />
      <label for="body-thin">Lithe</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="body" id="body-ravaged" value="ravaged" />
      <label for="body-ravaged">Ravaged</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="text" name="body" id="body-other" value="" class="bg-transparent border-b-2 border-b-black outline-none  w-14" />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row lg:items-center">
    <label for="eyes" class="font-bold">EYES</label>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="eyes" id="eyes-hard" value="hard" />
      <label for="eyes-hard">Hard</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="eyes" id="eyes-dead" value="dead" />
      <label for="eyes-dead">Dead</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="eyes" id="eyes-eager" value="eager" />
      <label for="eyes-dead">Eager</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="text" name="eyes" id="eyes-other" value="" class="bg-transparent border-b-2 border-b-black outline-none  w-14" />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row lg:items-center">
    <label for="hair" class="font-bold">HAIR</label>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="hair" id="hair-wild" value="wild" />
      <label for="hair-wild">Wild</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="hair" id="hair-shorn" value="shorn" />
      <label for="hair-shorn">Shorn</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="radio" name="hair" id="battered-helm" value="battered-helm" />
      <label for="battered-helm">Battered Helm</label>
    </div>
    <div class="flex-row ml-2 lg:ml-0">
      <input type="text" name="hair" id="hair-other" value="" class="bg-transparent border-b-2 border-b-black outline-none w-14" />
    </div>
  </div>
</div>
