<div class="flex flex-col">
  <dw-section-header>LOOK</dw-section-header>
  <div class="text-xs">
    <div class="px-2 text-xs italic">
      Choose one for each, or write your own:
    </div>
    <dw-character-look-group
      title="hair"
      options='["messy", "braided", "furry-hood"]'
    ></dw-character-look-group>
    <dw-character-look-group
      title="eyes"
      options='["wise", "wild", "haunting"]'
    ></dw-character-look-group>
    <dw-character-look-group
      title="clothes"
      options='["ceremonial-garb", "practical-leathers", "weathered-hides"]'
    ></dw-character-look-group>
  </div>
</div>
