<style>

  .outline-none {
    outline: none;
  }

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .bg-transparent {
    background-color: transparent;
  }

  .border-b-2 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
  }

  .border-b-black {
    border-bottom-color: black;
  }

  .outline-none {
    outline: none;
  }

  .w-full {
    width: 100%;
  }
</style>
<div id="list">
  <input id="new" type="text" class="outline-none bg-transparent border-b-2 border-b-black outline-none w-full" />
</div>
