<div id="character-race" class="flex flex-col">
  <dw-section-header>Race</dw-section-header>
  <div class="flex flex-row items-center">
    <input
      type="radio"
      name="race"
      id="race-dwarf"
      class="mx-2"
      value="Dwarf"
    />
    <label for="race-dwarf" class="flex flex-col">
      <div>Dwarf</div>
      <div class="text-xs italic">
        When you share a drink with someone, you may parley with them using CON
        instead of CHA.
      </div>
    </label>
  </div>
  <div class="flex flex-row items-center">
    <input type="radio" name="race" id="race-elf" class="mx-2" value="Elf" />
    <label for="race-elf" class="flex flex-col">
      <div>Elf</div>
      <div class="text-xs italic">
        Choose one weapon-you can always treat weapons of that type as if they
        had the precise tag.
      </div>
    </label>
  </div>
  <div class="flex flex-row items-center">
    <input
      type="radio"
      name="race"
      id="race-halfling"
      class="mx-2"
      value="Halfling"
    />
    <label for="race-halfling" class="flex flex-col">
      <div>Halfling</div>
      <div class="text-xs italic">
        When you Defy Danger and use your small size to your advantage, take +1.
      </div>
    </label>
  </div>
  <div class="flex flex-row items-center">
    <input
      type="radio"
      name="race"
      id="race-human"
      class="mx-2"
      value="Human"
    />
    <label for="race-human" class="flex flex-col">
      <div>Human</div>
      <div class="text-xs italic">
        Once per battle you may reroll a single damage roll (yours or someone
        else's
      </div>
    </label>
  </div>
</div>
