@tailwind base;
@tailwind components;
@tailwind utilities;

.shield::before {
  content: '☗';
  position: absolute;
  font-size: 100px;
  transform: scale(-1);
  right: 23px;
  top: -50px;
  text-shadow: -1px -1px 4px #64748b;
}

.heart::before {
  content: '❥';
  font-family: 'Times New Roman', Times, serif;
  font-family: monospace;
  transform: rotate(90deg);
  position: absolute;
  font-size: 110px;
  right: 23px;
  top: -63px;
  text-shadow: -1px -1px 4px #64748b;
}

.damage-dice::before {
  content: url(assets/dice.svg);
  position: absolute;
  font-size: 100px;
  right: 32px;
  top: -72px;
  text-shadow: -1px -1px 4px #64748b;
  height: 50px;
  width: 50px;
}

@layer components {
  .text-input {
    @apply outline-none grow;
  }

  label {
    @apply px-2;
  }

  body {
    @apply bg-slate-200;
  }

  hr {
    @apply border-b-2 border-b-slate-500 my-2;
  }
}