<form id="character-form" class="container mx-auto px-4 py-4">
  <div class="grid grid-cols-2 lg:grid-cols-5 my-1">
    <div class="flex flex-row col-span-2 lg:col-span-3 bg-white my-1 lg:my-0">
      <label for="character-name">NAME</label>
      <input class="text-input" id="character-name" name="character-name" type="text" />
    </div>
    <div class="flex flex-row my-2 col-span-2 md:col-span-1 lg:my-0 lg:justify-end">
      <label for="level">LEVEL</label>
      <input class="text-input bg-white rounded-full pl-1.5 mr-1 w-7 h-7 grow-0" id="level" name="level" type="text" />
    </div>
    <div class="flex flex-row bg-white my-2 col-span-2 md:col-span-1 lg:py-0">
      <label for="xp">XP</label>
      <input class="text-input grow-0 lg:grow" id="xp" name="xp" type="number" />
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 my-1">
    <div>
      <dw-character-look></dw-character-look>
    </div>
  </div>
</form>
